<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="Dongbob">
    <title> {{title}} </title>
    <link rel="icon" href="{{ url_for('static', filename='icons/home.ico') }}" type="image/x-icon" />
    <link href="{{ url_for('static', filename='css/all.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet" />
</head>

<header>
    <div class="navi-container">
        <ul>
            <a class="navi-link" href="/">Homepage</a>
            <a class="navi-link" href="/download">Download</a>
        </ul>
    </div>
</header>

<section>
    {% block content %}{% endblock %}
</section>